<template>
    <main>
        <h2>About</h2>
        <p>Built using state of the art front-end technology.</p>
        <h6 class="rainbow-header">Here's <em>some</em> of the features:</h6>
        <ul>
            <li>NO Bootstrap, Material UI or other css frameworks. </li>
            <li>Fast & light, only ~90KB Gzipped</li>
            <li>Write ES6, compile to vanilla Javascript</li>
            <li>Scalable & easy to maintain</li>
            <li>Powerful templating engine</li>
            <li>Global state management</li>
            <li>Built on Nuxts + VueJs</li>
            <li>Single file components</li>
            <li>Pages + easy routing</li>
            <li>Use URL query parameters</li>
            <li>Clean URL's (/about/more)</li>
            <li>Transition animations</li>
            <li>Styling (SCSS) + Utils + Vars</li>
            <li>Axios for async ajax calls</li>
            <li>Responsive</li>
            <li>Custom Fonts</li>
            <li>Static site builder</li>
            <li>Fancy error pages (404, 500 ...)</li>
            <li>& more...</li>
        </ul>
    </main>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">

</style>
