<template>
    <main>
        <h2>Favorites</h2>
        <ul v-if="feed.length" class="list">
            <li v-for="(item, i) in feed" :key="i">                
                <h3>
                    <span class="favorite filled">
                        <span class="star"></span>
                    </span>
                    <span>{{item.joke}}</span>
                </h3>
            </li>
        </ul>
        <p v-else>No Favorites here.</p>
    </main>
</template>
<script>
import {mapGetters} from 'vuex'

export default {
   computed: {
       ...mapGetters({
           feed: 'JOKES/GET_FAVS'
       })
   }
}
</script>
<style lang="scss">
.list {
    padding-left: 0;

    li {
        list-style-type: none;
    }
}
</style>

