<template>
    <main>
        <h2 class="title">Search</h2>
        <LJG/>
    </main>
</template>
<script>
import {default as LJG} from '@/components/Jokes.vue'
export default {
    components: {
        LJG
    }
}
</script>