$shadow-top-glare: inset 0 1px 0px rgba($color-light, .5);
$shadow-ground: 1px 1px 0px rgba($color-dark, .2);
$button-offset: 3px;

.button {
    @include transition($duration: .15s);
    background-color: $color-base;
    padding: $golden-padding;
    padding-bottom: calc(#{$golden-padding} + #{$button-offset});
    outline: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: $color-light;
    border-radius: $border-radius;
    text-shadow: 0 1px 0px rgba($color-dark,.5);
    box-shadow: $shadow-top-glare, $shadow-ground,
                inset 0 -#{$button-offset} 0px rgba($color-dark, .5);
    
    &:hover {
        cursor: pointer;
        background-color: darken($color-base, 10%);
    }
    &:active {
        background-color: darken($color-base, 10%);
        text-shadow: 0 1px 0px rgba($color-dark,.5);
        box-shadow: $shadow-ground, inset 0 #{$button-offset} 0px rgba($color-dark, .5);
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: .5;
        filter: saturate(0);
    }
}
