.favorite {
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none;
    border: 1px solid $color-base;
    padding: .5rem;
    border-radius: $border-radius;

    &:hover {
        border: 1px solid $color-yellow;
        .star {
            color: $color-yellow;
            // text-shadow: 0px 0px 2px rgba($color-dark, .35);
            &:before {
                // content: "\2605";
            }
        } 
    }
    
    .star {
        display: inline-block;
        height: 24px;
        width: 24px;
        color: inherit;
        cursor: pointer;
        text-align: center;

        &:before {
            content: "☆"
        }
    }

    &.filled {
        color: $color-base;
        background-color: $color-yellow;
        border-color: transparent;

        .star {
            color: inherit;
            &:before {
                content: "\2605";
            }
        } 
    }
  }