<template>
    <header>
        <h1 class="rainbow-header">{{title}}</h1>
        <p class="subtitle small">written by {{author}}</p>
    </header>
</template>
<script>
export default {
    data() {
        return {
            title: process.env.description,
            author:  process.env.author
        }
    }
}
</script>

<style lang="scss">
.small {
    font-size: .88rem;
    color: $color-grey;
}
</style>