<template>
    <div id="lame-joke-component">

        <div v-if="single && random">
            <button class="button" @click="randomJoke()" :disabled="getLoading.show">Random Lame Joke</button>
            <h3>{{single.joke}}</h3>
            
            <a class="favorite" @click="setFav(single)" :class="{filled: favs.map(item=> item.id).includes(single.id) }">
                <span class="star"></span>
                <span> Favorite</span>
            </a>
        </div>

        <div v-if="feed && !random">
            <div class="search-box">
                <input v-model="searchQuery" autofocus="autofocus" placeholder="Search jokes">
            </div>
            <ul class="list" v-if="searchQuery">
                <li class="item" v-for="(item, i) in filteredFeed.slice(0, 10)" :key="i">
                    <h3 v-html="item.joke"></h3>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex'
import { JOKE_APIS as API } from '@/utils/constants'

export default {
    props: {
        random: {
            type: Boolean,
            default: false,
            required: false
        },
        search: {
            type: Boolean,
            default: false,
            required: false
        }
    },
    methods: {
        setFav(item) {
            this.$store.commit('JOKES/SET_FAV', item);
        },
        async randomJoke() {
            await this.$store.dispatch('JOKES/FETCH_SINGLE')
        },
        async doSearch() {
            await this.$store.dispatch('JOKES/SEARCH')
        }
    },
    data() {return {
        searchQuery: '',
        loading: this.$nuxt.$root.$loading.show || false
    }},
    computed: {
        filteredFeed() {
            return this.feed.filter(item => item.joke.toLowerCase().indexOf(this.searchQuery.toLowerCase()) > -1)
        },
        getLoading() {
            let {show=false, percent=0} = this.$nuxt.$root.$loading
            this.loading = show
            return {show, percent}
        },
        ...mapGetters({
            feed: 'JOKES/GET_FEED',
            single: 'JOKES/GET_SINGLE',
            favs: 'JOKES/GET_FAVS'
        })
    },
    async mounted() {
        if (this.random){
            await this.$store.dispatch('JOKES/FETCH_SINGLE')
        } else {
            await this.$store.dispatch('JOKES/FETCH_ALL')
        }

    }
}
</script>
<style lang="scss">
$box-shadow: 0 0 5px -1px rgba($color-dark, .35);

#lame-joke-component {
    padding-top: #{$golden-ratio}rem;

    .search-box {
        input {
            padding: $golden-padding;
            border-radius: $border-radius;
            border: 1px solid $color-border;
            outline: 0;
            min-width: 10rem;
            font-family: inherit;
            font-size: inherit;
            box-shadow: inset $box-shadow;

            &:hover {
                cursor: pointer;
                border: 1px solid rgba($color-base, .35);
            }

            &:focus {
                cursor: text;
                border: 1px solid $color-base;
                box-shadow: $box-shadow;
            }

            &::placeholder {
                color: $color-grey;
            }
        }
    }

    .list {
        padding-left: 0;

        .item {
            list-style-type: none;
        }
    }
}
</style>
