<template>
    <nav>
        <ul class="nav">
            <li v-for="(item, index) in feed" :key="index">
                <nuxt-link v-if="!item.conditional" :to="item.url" exact>{{item.label}}</nuxt-link>
                <nuxt-link v-if="item.conditional && favs.length" :to="item.url" exact>{{item.label}}</nuxt-link>
                <span class="favs" v-if="item.label === 'Favorites' && favs.length">{{favs.length}}</span>
            </li>
        </ul>
    </nav>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    computed: {
        ...mapGetters({
            feed: 'NAV/GET_FEED',
            favs: 'JOKES/GET_FAVS'
        })
    }
}
</script>

<style lang="scss">
.nav {
    padding:0;
    margin: 0;

    li {
        position: relative;
        list-style-type: none;
        display: inline-block;

        a {
            text-decoration: none;
            display: inline-block;
            padding: $padding-default;
            
            &.nuxt-link-exact-active {
                border-bottom: 1px solid $color-alt;
            }
        }
    }

    .favs {
        position: absolute;
        color: $color-light;
        background-color: $color-red;
        padding: 2px 4px;
        top: -10px;
        right: 0;
        border-radius: 3px;
        font-size: .77rem;
    }
}
</style>

