<template>
    <div class="default">
        <Header class="auto-width"/>
        <Nav  class="auto-width"/>
        <nuxt class="auto-width"/>
    </div>
</template>
<script>
import Header from '@/components/Header';
import { default as Nav } from '@/components/Navigation'
export default {
    components: {
        Header, Nav
    }
}
</script>

<style lang="scss">
.default {
    padding: $golden-padding;

    main, .main {
        padding: $golden-padding 0;
    }
}
</style>
